:root {
  --page-padding-left: 10px;
  --page-padding-right: 10px;
  --ion-color-light: #ffffff;
  --min-height: auto;
  /* --ion-background-color: #f2f2f2; */
}

.ion-page {
  /* background-color: var(--ion-background-color); */
}
ion-toolbar {
  --padding-start: var(--page-padding-left);
  --padding-end: var(--page-padding-right);
}
ion-segment {
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
}

ion-tab-bar {
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  /* --background: #ffffff; */
}
ion-content {
  --padding-start: var(--page-padding-left);
  --padding-end: var(--page-padding-right);
}

ion-icon {
  font-size: 1.4rem;
  font-weight: 600;
}

ion-title {
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  -webkit-padding-end: 0px;
  padding-inline-end: 0px;
  font-size: 1.2rem;
  font-weight: 600;
}
ion-label {
  font-size: 1rem;
  /* font-weight: 600; */
}

.backgroundwhiteicon {
  padding: 6px;
  border-radius: 8px;
  /* background: #ffffff; */
}

ion-toolbar {
  --opacity: 0.5;
}
ion-button[slot="fixed"] {
  top: 90%;
  right: 10px;
  --border-radius: 10px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 1.1em;
  --padding-end: 1.1em;
}
ion-card {
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* background: #ffffff; */
}

.customInput {
  border-bottom: 1px solid #4d4d4d;
  /* --background: #ffffff; */
  font-size: 1.2rem;
  color: #1a1a1a;
  font-weight: normal;
  min-height: auto;
  /* --padding-top: 2px;
  --padding-end: 10px;
  --padding-bottom: 2px;
  --padding-start: 10px; */
  --highlight-height: 0px;
}

.ion-tab-button {
  --padding-end: 0px;
  --padding-start: 0px;
}
ion-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-border-width: 0 0 1px 0;
}

.list-md.list-inset {
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
}

ion-loading.custom-loading {
  --background: #e3edff;
  --spinner-color: #1c6dff;

  color: #1c6dff;
}

textarea {
  padding-top: 0px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
