.tax_page {
  ion-content {
    ion-list {
      ion-item {
        .tax_inner_ion_item {
          padding: 16px;
          h5{
            margin: 0;
          }
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            margin-top: 0;
            margin-bottom: 2px;
            font-weight: 600;
            color: #8c8c8c;
            font-size: 0.825rem;
          }
          ion-label {
            font-weight: 600;
            font-size: 0.825rem;
          }
        }
      }
    }
  }
}
